@import url("./main.css");

.card_parent {
    width: 500px;
    height: 500px;
    position: relative;
    left: 30%;
    top: 30%;
    padding: 50px;

    .card1 {
        width: 250px;
        height: 250px;
        flex-wrap: wrap;
        position: absolute;
        transform: rotate(-10deg);
        padding: 10px;
        background-color: #202022;
        color: white;
        border-radius: 10px;
        transition: all ease 0.4s;

        &:hover {
            transform: rotate(0deg);
            padding: 30px;
        }

        .date {
            color: rgb(235, 26, 235);
        }

        .description {
            color: white;
        }
    }

    .card2 {
        width: 250px;
        height: 250px;
        flex-wrap: wrap;
        position: absolute;
        right: 0px;
        transform: rotate(-10deg);
        padding: 10px;
        background-color: #202022;
        color: white;
        border-radius: 10px;
        transition: all ease 0.4s;
        &:hover {
            transform: rotate(0deg);
            padding: 30px;
        }

        .date {
            color: rgb(235, 26, 235);
        }

        .description {
            color: white;
        }
    }

    .card3 {
        width: 250px;
        height: 250px;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0px;
        transform: rotate(-10deg);
        padding: 10px;
        background-color: #202022;
        color: white;
        border-radius: 10px;
        transition: all ease 0.4s;
        &:hover {
            transform: rotate(0deg);
            padding: 30px;
        }

        .date {
            color: rgb(235, 26, 235);
        }

        .description {
            color: white;
        }
    }

    .card4 {
        width: 250px;
        height: 250px;
        flex-wrap: wrap;
        position: absolute;
        right: 0px;
        bottom: 0px;
        transform: rotate(-10deg);
        padding: 10px;
        background-color: #202022;
        color: white;
        border-radius: 10px;
        transition: all ease 0.4s;
        &:hover {
            transform: rotate(0deg);
            padding: 30px;
        }

        .date {
            color: rgb(235, 26, 235);
        }

        .description {
            color: white;
        }
    }
}